body {
    background: none repeat scroll 0 0 #ffffff;
    color: #111;
    font-family: "Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L",Georgia,serif;
    font-size: 16px;
    padding: 40px;
}
input[type="text"] {
    width: 500px;
}
label {
    display: block;
    float: left;
    width: 100px;
}
hr {
    margin: 20px 0;
}
#content {
    background: none repeat scroll 0 0 #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    padding: 0 50px 40px;
    width: 800px;
}
<style>
    
        #container {width: 1165px; 
            height: auto;
            margin: 0 auto; 
            text-align: center;
            border: 1px dotted #333;
            background-color:black;
       
        }
        
        .password {
            text-align:center;
            font-size:3rem;
            margin-bottom:25px;
            color:#f39c12;
            font-family:consolas,courier;
            background-color:#eee;
            display:inline-block;
            padding:15px;
            font-weight:800;
        }
            #number_of_words {
            width:40px;
        }
                
        .details {
            margin-top:25px;
        }
        
        .comic {
            width:75%;
            max-width:500px;
        }
        
    
    </style>


/*
.footnote {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #393939;
    border-radius: 10px;
    box-shadow: 0 0 20px 3px rgba(11, 11, 11, 0.1) inset;
    color: #444;
    margin: 50px auto 20px;
    padding: 10px 50px;
    width: 800px;
}
.footnote a {
    color: #555;
}
.footnote a:hover, .footnote a:focus {
    color: #999;
}
fieldset {
    border: 0 none;
    margin: 10px 0;
    padding: 0;
}
fieldset legend {
    display: none;
}
input {
    font-family: "Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L",Georgia,serif;
    font-size: 14px;
    padding: 3px 5px;
}
#txt {
    background: none repeat scroll 0 0 #fefefe;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 18px;
    height: 24px;
    padding: 12px 10px 10px;
    width: 710px;
}
.input strong {
    left: 10px;
    margin-right: -30px;
    position: relative;
    top: -26px;
}
h1 {
    background: linear-gradient(to bottom, #eee 0px, #ccc 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    font-size: 38px;
    left: -50px;
    margin: 0 0 30px;
    padding: 5px 50px 10px;
    position: relative;
    width: 100%;
}
h2 {
    font-size: 26px;
}
.field {
    padding: 7px 0;
}
.cbx {
    overflow: hidden;
    width: 100%;
}
.cbx input {
    float: left;
}
.cbx label {
    margin-left: 20px;
    width: auto;
}
.button {
    background: linear-gradient(to bottom, #a8a8a8 0px, #3d3d3d 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #2e2e2e;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 1px #fff inset;
    color: #fff;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    outline: 0 none;
    padding: 10px 80px;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3);
}
.button:focus, .button:hover {
    background: linear-gradient(to bottom, #999 0px, #303030 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 0 1px #fff inset;
}
.button:active {
    background: linear-gradient(to bottom, #999 0px, #2a2a2a 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6), 0 0 1px #fff inset;
    left: 1px;
    top: 1px;
}
@media only screen and (max-width: 700px) {
body {
    padding: 3px;
}
#content, .footnote {
    padding: 40px 5%;
    position: relative;
    width: 90%;
}
#txt {
    font-size: 16px;
    margin: 0 0 3px;
    padding: 8px 2%;
    width: 95%;
}
h1 {
    font-size: 18px;
    left: 0;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    text-indent: 5%;
    top: 0;
    width: 100%;
}
h2 {
    font-size: 16px;
}
.input strong {
    margin-right: 5px;
    position: static;
}
fieldset {
    height: 30px;
    overflow: hidden;
    padding-left: 15px;
}
fieldset.active {
    height: auto;
}
fieldset legend {
    background: -moz-linear-gradient(center top , #ededed 0px, #c7c7c7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #2e2e2e;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 1px #fff inset;
    color: #464646;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-left: -15px;
    padding: 2px 10px 2px 20px;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3);
}
fieldset legend:before {
    content: " + ";
    font-size: 20px;
    font-weight: 700;
    left: 5px;
    position: absolute;
    top: -2px;
}
fieldset.active legend:before {
    content: " – ";
    top: -3px;
}
fieldset small {
    display: none;
}
.cbx label {
    margin-left: 5px;
    width: 80%;
}
.button {
    padding: 10px;
    width: 100%;
}
}























































